<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }} - Dildos 'r' Us Order List!</title>
</head>
<body>
    <!-- Test HTML for the initial orders page, shows who has ordered with some formatting done here -->
    <h1> {{ title }} Order List! </h1>
    {% for order in orders %}
        <div>
            <p>
                <b> Customer Name: {{ order.customer_name }}</b> <br> <em>Ordered: <br>{{ order.item_name}} : {{ order.quantity }}: {{ order.order_date}}</em>
            </p>
        </div>
    {% endfor %}
</body>
</html>